[submodule "old_fe"]
	path = old_fe
	url = https://gitlab.brin.go.id/brinrockstar/irif-frontend
	branch = copy_master_15012025
[submodule "old_be"]
	path = old_be
	url = https://gitlab.brin.go.id/brinrockstar/irif-backend
[submodule "newapp"]
	path = newapp
	url = https://gitlab.brin.go.id/brinrockstar/irifairv2.git
	branch = us_migration
[submodule "frontend"]
	path = frontend
	url = https://github.com/koharudin/irifair-next.git
	branch = main
[submodule "vristo-next-main"]
	path = vristo-next-main
	url = https://github.com/koharudin/vristo-next-main.git
	branch = main
